body {
    background-color: rgb(95, 95, 95);
}

header {
    min-height: 10vh;
}

.topnav {
  overflow: hidden;
  background-color:#333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

main {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    text-align: center;
    margin: auto;
}

.nabla {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

#search-form {
    margin-bottom: 20px;
}

#search-input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: rgb(243, 108, 51);
    color: black;
}

#gif-results {
    -ms-flex-item-align: center;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    
}

img {
    min-width:300px;
    min-height: 250px;
    max-height:250px;
    max-width:300px;
    padding: 10px;
    border:2px solid rgb(127, 127, 127)
}

footer {
    min-height: 10vh;
    text-align: center;
    background-color: #333;
    color: white;
    padding-top: 1px;
}