header {
    min-height: 10vh;
}

nav {
    text-align: right;
}

main {
    min-height: 80vh;
}

div {
    text-align: center;
}

.nabla {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

footer {
    min-height: 10vh;
    text-align: center;
}